.thumb-gallery > .row > div[class^="col-"]{
	padding:0;

}

.thumb-gallery  img{
	cursor:pointer;
	transition: filter 1s;
	 -webkit-transition: -webkit-filter 1s;
	 -moz-transition: filter 1s;
	
	filter: blur(0px);
	-webkit-filter:blur(0px);
	
}
.thumb-gallery ul{
	padding:0;
}
.thumb-gallery li{
	list-style-type: none;
	padding:5px;
	margin:0;
	position:relative;
}
.thumb-gallery li:hover  img{
	transition: filter 1s;
	 -webkit-transition: -webkit-filter 1s;
	 -moz-transition: filter 1s;
	
	filter: blur(6px);
	-webkit-filter:blur(6px);

}

.thumb-gallery-title{
	position:absolute;
	color:white;
	text-shadow: 2px black;
	font-family:Verdana,Helvetica,Arial;
	font-size:2em;
	text-align:center;
	vertical-align:middle;
	display:none;
	

}