{% extends './layout.html' %}

{% block styles %}
	
	<link rel="Stylesheet" type="text/css" href="stylesheets/static/papershadows.css" />

	<style>
	#hoverScroll{
		width:90%;
		margin:0 auto;
		padding:10px 0px;
	}	
	#hoverScroll .post{
		margin:5px;
		height:300px;
		width:400px;
		padding:1em;
	}
	#hoverScrollHotspotLeft, #hoverScrollHotspotRight{
		background:rgba(0,0,0,0.1);
		display:table;
	}
	#hoverScrollHotspotLeft > div, #hoverScrollHotspotRight > div{	
		display:table-cell;
		vertical-align:middle;
		opacity:0.5;
		color:white;
		font-size:8em;
	}
	</style>

{% endblock %}



{% block scripts %}
  {% parent %}
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
	<script src="javascripts/hoverScroll.js" type="text/javascript"></script>

	<script type="text/javascript">
	
		$(document).ready(function () {
	
			$("div#hoverScroll").hoverScroll({
				insideout: "in",
				hotspotsize:"50",
				extraWidth:"20",
				hotspotrightHTML:"<div>&rsaquo;</div>",
				hotspotleftHTML:"<div >&lsaquo;</div>"
			});
			
		
			
			//add a random shadow effect to each post
			$(".post").each(function(index){
				
				var random = Math.floor((Math.random() * 5) + 1);
				var classname = "shadow" + random;
				$(this).addClass(classname);	
			});
	
		});
	</script>
{% endblock %}



{% block pageContent %}
  {% parent %}
	
	<link rel='stylesheet' href='/stylesheets/static/smoothdivscroll.css' />
  	
	<div class="background" style="background-image: url(images/tea.jpg);background-size: 170vh 100vh;"></div>
		

	<div class="vp-full" >
		<div class="row row-table sun-gradient">
			<div class="col-xs-12 col-sm-6 col-table col-table-center" style="vertical-align:bottom"><img src="/images/basil_full.png"/></div>
			<div class="col-xs-12 col-sm-6 col-table col-table-center">
				<div class="padding-xxlarge">
					<span class="font-handwritten font-3-em font-green-dark">Nutrition for Nerds.</span><br>When you're calibating an oscilloscope or performing a redox titration, the lateral hypothalamus is not usually the first thing on the mind. This blog hopes to combine taste, art, and science to promote education, entertainment, and satisfaction.</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="vp-full" >
		<div id="hoverScroll">
			<div class="post">Hi</div>
			<div class="post">Hi</div>
			<div class="post">Hi</div>
			<div class="post">Hi</div>
			<div class="post">Hi</div>
			<div class="post">Hi</div>
		</div>
	</div>
{% endblock %}