<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<link rel='stylesheet' href='/stylesheets/static/bootstrap-grid-extend.css' />
	<link rel='stylesheet' href='/packages/font-awesome-4.5.0/css/font-awesome.min.css' />
	
	<link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>	
	<link rel='stylesheet' href='/stylesheets/div-util.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/fontstyles.css' />
	{% block styles %}{% endblock %}
	
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	
	{% block scripts %}	{% endblock %}
	

  </head>
  <body>
	{% include "./navbar.html" %}
    <div class="pageContent">
		{% block pageContent %}{% endblock %}
	</div>
	{% include "./footer.html" %}
  </body>
</html>
