@color-green-dark: #425424;
@color-green: #738E35;
@color-green-light: #87A048;
@color-blue-dark: #67AEDE;
@color-blue: #87BCDF;
@color-blue-light: #A5D0EC;
@color-blue-gray: #D1E5F0;

/*****************************************/

.font-5-em{font-size:5em;}
.font-4-em{font-size:4em;}
.font-3-em{font-size:3em;}
.font-2-em{font-size:2em;}
.font-1-em{font-size:1em;}
.font-half-em{font-size:0.5em;}
.font-quarter-em{font-size:0.25em;}
.font-tenth-em{font-size:0.1em;}

/*****************************************/

.logo-font{
	text-shadow:2px;
	font-size:2.5em;
	display:block;
	font-family: 'Rock Salt', cursive;
	color: @color-green-dark;	
}

.font-green-dark{
	color: @color-green-dark;	
}
.font-handwritten{
	font-family: 'Rock Salt', cursive;	
	line-height:1.3em;
	margin-top:0.4em;
}
.h1{
	font-family: 'Rock Salt', cursive;	
	line-height:1.3em;
	margin-top:0.4em;
	color: @color-green-dark;
	font-size:3em;
}
.fading-line{
	border:none;
    color:white;
    height:2px;
    background:@color-green-dark;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(@color-green-dark), to(#fff));
	margin:5px;
}
.no-wrap{
	white-space:nowrap;
}
